.sidebar > .sidebar-links > li > a.sidebar-link {
    font-size: 16px !important;
}

.sidebar-sub-headers a.sidebar-link {
    font-size: 14px !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.page-nav .inner > .prev,
.page-nav .inner > .next {
    width: 40%;
    display: inline-flex;
}

.page-nav .inner > .next {
    text-align: right;
}